:root {
  /*fonts*/
  --main-fond: "Roboto", sans-serif;
  --secondary-fond: "Raleway", sans-serif;
  /*text-color*/
  --grey-text-cl: #757575;
  --black-text-cl: #212121;
  --white-text-cl: #ffffff;
  /*bg-color*/
  --white-bg-cl: #e5e5e5;
  --team-bg-cl: #f5f4fa;
  --dark-bg-cl: #2f303a;
  /*other*/
  --accent-tx-cl: #2196f3;
}

body {
  font-size: 14px;
  line-height: 1, 71;
  letter-spacing: 0.03em;
  font-family: var(--main-fond);
  color: var(--grey-text-cl);
}

.conteiner {
  padding-left: 15px;
  padding-right: 15px;
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

/*reset-styles*/

.link {
  text-decoration: none;
  color: currentColor;
}

.list {
  list-style: none;
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/*Header*/

.header {
  font-weight: 500;
  line-height: calc(16 / 14);
  letter-spacing: 0.02em;
  border-bottom: solid #ececec;
}

.header,
.logo {
  margin-right: 93px;
}

.header-conteiner {
  display: flex;
  align-items: center;
}

.logo {
  font-family: var(--secondary-fond);
  font-size: 26px;
  line-height: calc(31 / 26);
  letter-spacing: 0.03em;
  color: #2196f3;
}

.logo-black {
  color: #000000;
}

.header-link:hover,
.header-link:focus {
  color: var(--accent-tx-cl);
}

.accent-color {
  color: var(--accent-tx-cl);
}

.nav {
  display: flex;
  align-items: center;
}

.nav-list {
  color: var(--black-text-cl);
  display: flex;
  align-items: center;
  gap: 50px;
}

.nav-item {
}

.header-link {
  display: flex;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
}

.contact-list {
  display: flex;
  align-items: center;
  gap: 50px;
  margin-left: auto;
}

/*Section with btn*/

.section {
  padding-bottom: 94px;
  padding-top: 94px;
}

.hero {
  color: var(--white-text-cl);
  background-color: var(--dark-bg-cl);
  padding-top: 200px;
  padding-bottom: 200px;
  text-align: center;
}

.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: calc(60 / 44);
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--white-text-cl);
  margin-bottom: 30px;
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
}

/*button style*/

.btn {
  font-weight: 700;
  font-family: inherit;
  font-size: 16px;
  line-height: calc(30 / 16);
  letter-spacing: 0.06em;
  color: var(--white-text-cl);
  background-color: var(--accent-tx-cl);
  cursor: pointer;
  border-radius: 4px;
  border: none;
  padding: 10px 32px;
  max-width: 250px;
}

/*Priority*/

.priority {
  padding-bottom: 0;
}

.priority-list {
  display: flex;
  align-items: center;
  gap: 30px;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.priority-item {
}

.priority-title {
  font-weight: 700;
  font-size: 14px;
  line-height: calc(16 / 14);
  text-transform: uppercase;
  color: var(--black-text-cl);
  margin-bottom: 10px;
}

.priority-text {
  line-height: 1.71;
  max-width: 270px;
}

/*About company*/

.about {
}

.about-title {
  font-weight: 700;
  font-size: 36px;
  line-height: calc(42 / 36);
  color: var(--black-text-cl);
  margin-bottom: 50px;
  max-width: 400px;
  margin-left: auto;
  margin-right: auto;
}

.about-list {
  display: flex;
  gap: 30px;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.about-item {
}

/*Team*/

.team {
  background-color: var(--team-bg-cl);
}

.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: calc(42 / 36);
  color: var(--black-text-cl);
  margin-bottom: 50px;
  max-width: 300px;
  margin-left: auto;
  margin-right: auto;
}

.team-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.team-wrapper {
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
}

.team-name {
  font-weight: 500;
  font-size: 16px;
  line-height: calc(19 / 16);
  color: var(--black-text-cl);
  margin-bottom: 10px;
}

.post {
  font-size: 16px;
  line-height: calc(19 / 16);
}

/*Footer*/

.footer {
  background-color: var(--dark-bg-cl);
}

.footer-conteiner {
  padding-top: 60px;
  padding-bottom: 60px;
}

.logo-white {
  color: var(--white-text-cl);
}

.address {
  font-style: inherit;
  margin-top: 20px;
}

.footer-item {
  margin-bottom: 9px;
}

.adress-item {
  color: var(--white-text-cl);
}

.adress-item:hover,
.adress-item:focus {
  color: var(--accent-tx-cl);
}

.footer-contact {
  color: rgba(255, 255, 255, 0.6);
}

.footer-contact:hover,
.footer-contact:focus {
  color: var(--accent-tx-cl);
}

/*Portfolio*/

/*Portfulio nav*/

.filter-btn:hover,
.filter-btn:focus {
  color: var(--white-text-cl);
  background-color: var(--accent-tx-cl);
}

.filter-list {
  display: flex;
  align-items: center;
  gap: 8px;
  max-width: 650px;
  margin-left: auto;
  margin-right: auto;
  font-weight: 500;
  font-size: 16px;
  line-height: calc(26 / 16);
}

.filter-btn {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: calc(26 / 16);
  letter-spacing: 0.03em;
  color: var(--black-text-cl);
  background-color: var(--team-bg-cl);
  cursor: pointer;
  padding: 6px 22px;
  border-radius: 4px;
  border: none;
}

.accent-btn {
  background-color: #2196f3;
  color: var(--white-text-cl);
}

/*Portfolio img*/

.portfolio-section {
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
  gap: 30px;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.portfolio-item {
  border: 1px solid #eeeeee;
}

.portfolio-link {
}

.portfolio-wrapper {
  margin: 20px 24px;
}

.portfolio-title {
  font-weight: 700;
  font-size: 18px;
  line-height: calc(36 / 18);
  letter-spacing: 0.06em;
  color: var(--black-text-cl);
  margin: 4px;
}

.portfolio-text {
  font-size: 16px;
  line-height: calc(30 / 16);
}
